*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}
body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  color: #363636;
  background-color: #f0f0f0;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}
.panel{
  padding: 20px;
  background-color: white;
  box-shadow: 1px 2px 6px rgba(0,0,0,.05);
}
